<div class="layui-header">
    <div class="layui-logo"><img src="/images/logo.png" class="layui-nav-img"></div>
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="/">查看用户</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="/users" id="cur_user">charles</a>
            <dl class="layui-nav-child">
                <dd>
                    <div id="modify_pwd" class="ext_item">修改密码</div>
                </dd>
                <dd>
                    <div id="exit" class="ext_item">退出登录</div>
                </dd>
            </dl>
        </li>
    </ul>
</div>