<div class="layui-header">
    <div class="layui-logo"><img src="/images/logo.png" class="layui-nav-img"></div>
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="/">新建笔记</a></li>
        <li class="layui-nav-item"><a href="/notes">笔记</a></li>
        <li class="layui-nav-item"><a href="/notebooks">笔记本</a></li>
        <li class="layui-nav-item"><a href="/">标签</a></li>
        <li class="layui-nav-item"><a href="/">朋友圈</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a id="cur_user" href="javascript:;">CharlesFeng</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">修改密码</a></dd>
                <dd><a href="javascript:;">退出登录</a></dd>
            </dl>
        </li>
    </ul>
</div>