<div class="layui-header" style="color: #393d48">
    <div class="layui-logo"><img src="/images/logo.png" style="width: 180px;height: 55px;margin-left: 25px;margin-top: -12px"></div>
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="/index">新建笔记</a></li>
        <li class="layui-nav-item"><a href="/notes">笔记</a></li>
        <li class="layui-nav-item"><a href="/notebooks">笔记本</a></li>
        <li class="layui-nav-item"><a href="/tags">标签</a></li>
        <li class="layui-nav-item"><a href="/community">朋友圈</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a id="cur_user" href="#"><%= cur_user %></a>
            <dl class="layui-nav-child">
                <dd>
                    <div id="modify_pwd" class="ext_item">修改密码</div>
                </dd>
                <dd>
                    <div id="exit" class="ext_item">退出登录</div>
                </dd>
            </dl>
        </li>
    </ul>
</div>