<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Marvel Note</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/stylesheets/note.css">
    <style>
        body {
            margin: 7px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><img src="/images/logo.png" class="layui-nav-img"></div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">新建笔记</a></li>
            <li class="layui-nav-item"><a href="">笔记</a></li>
            <li class="layui-nav-item"><a href="">笔记本</a></li>
            <li class="layui-nav-item"><a href="">标签</a></li>
            <li class="layui-nav-item"><a href="">朋友圈</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">账户</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">修改密码</a></dd>
                    <dd><a href="javascript:;">退出登录</a></dd>
                </dl>
            </li>
        </ul>

    </div>


    <div class="layui-side layui-bg-black" style="margin-top: 15px; margin-bottom: 7px">
        <div class="layui-side-scroll">
            <div class="brief_note">
                <div class="row" style="height: 25px">
                    <div class="layui-col-xs8">
                        <div class="brief_note_title">
                            你的第一本笔记
                        </div>
                        <div class="row">
                            <div class="brief_note_time">昨天</div>
                        </div>
                    </div>
                    <!-- 分享、删除按钮 -->
                    <div class="brief_share_delete_btn_group layui-btn-group layui-col-xs4">
                        <button class="layui-btn layui-btn-sm layui-btn-warm">
                            <i class="layui-icon">&#xe641;</i>
                        </button>
                        <button class="layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <hr class="layui-bg-green" style="margin-top: 17px">
                <div class="row">
                    <div class="brief_note_content"><p>
                            1234567891234567891234912345678912349123456789123491234567891234912345678912349123456789123491234567891234912345678912349123456789123491234567891234912345678912349123456789123456789123456789123456789</p>
                    </div>
                </div>
            </div>

            <div style="height: 5px;"></div>
            <div class="brief_note">
                <div class="row" style="height: 25px">
                    <div class="layui-col-xs8">
                        <div class="brief_note_title">
                            你的第一本笔记
                        </div>
                        <div class="row">
                            <div class="brief_note_time">昨天</div>
                        </div>
                    </div>
                    <!-- 分享、删除按钮 -->
                    <div class="brief_share_delete_btn_group layui-btn-group layui-col-xs4">
                        <button class="layui-btn layui-btn-sm layui-btn-warm">
                            <i class="layui-icon">&#xe641;</i>
                        </button>
                        <button class="layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <hr class="layui-bg-green" style="margin-top: 17px">
                <div class="row">
                    <div class="brief_note_content"><p>
                            1234567891234567891234912345678912349123456789123491234567891234912345678912349123456789123491234567891234912345678912349123456789123491234567891234912345678912349123456789123456789123456789123456789</p>
                    </div>
                </div>
            </div>

            <div style="height: 5px;"></div>
            <div class="brief_note">
                <div class="row" style="height: 25px">
                    <div class="layui-col-xs8">
                        <div class="brief_note_title">
                            你的第一本笔记
                        </div>
                        <div class="row">
                            <div class="brief_note_time">昨天</div>
                        </div>
                    </div>
                    <!-- 分享、删除按钮 -->
                    <div class="brief_share_delete_btn_group layui-btn-group layui-col-xs4">
                        <button class="layui-btn layui-btn-sm layui-btn-warm">
                            <i class="layui-icon">&#xe641;</i>
                        </button>
                        <button class="layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <hr class="layui-bg-green" style="margin-top: 17px">
                <div class="row">
                    <div class="brief_note_content"><p>
                            1234567891234567891234912345678912349123456789123491234567891234912345678912349123456789123491234567891234912345678912349123456789123491234567891234912345678912349123456789123456789123456789123456789</p>
                    </div>
                </div>
            </div>

            <div style="height: 5px;"></div>
            <div class="brief_note">
                <div class="row" style="height: 25px">
                    <div class="layui-col-xs8">
                        <div class="brief_note_title">
                            你的第一本笔记
                        </div>
                        <div class="row">
                            <div class="brief_note_time">昨天</div>
                        </div>
                    </div>
                    <!-- 分享、删除按钮 -->
                    <div class="brief_share_delete_btn_group layui-btn-group layui-col-xs4">
                        <button class="layui-btn layui-btn-sm layui-btn-warm">
                            <i class="layui-icon">&#xe641;</i>
                        </button>
                        <button class="layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <hr class="layui-bg-green" style="margin-top: 17px">
                <div class="row">
                    <div class="brief_note_content"><p>
                            1234567891234567891234912345678912349123456789123491234567891234912345678912349123456789123491234567891234912345678912349123456789123491234567891234912345678912349123456789123456789123456789123456789</p>
                    </div>
                </div>
            </div>

            <div style="height: 5px;"></div>
            <div class="brief_note">
                <div class="row" style="height: 25px">
                    <div class="layui-col-xs8">
                        <div class="brief_note_title">
                            你的第一本笔记
                        </div>
                        <div class="row">
                            <div class="brief_note_time">昨天</div>
                        </div>
                    </div>
                    <!-- 分享、删除按钮 -->
                    <div class="brief_share_delete_btn_group layui-btn-group layui-col-xs4">
                        <button class="layui-btn layui-btn-sm layui-btn-warm">
                            <i class="layui-icon">&#xe641;</i>
                        </button>
                        <button class="layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <hr class="layui-bg-green" style="margin-top: 17px">
                <div class="row">
                    <div class="brief_note_content"><p>
                            1234567891234567891234912345678912349123456789123491234567891234912345678912349123456789123491234567891234912345678912349123456789123491234567891234912345678912349123456789123456789123456789123456789</p>
                    </div>
                </div>
            </div>

            <div style="height: 5px;"></div>
            <div class="brief_note">
                <div class="row" style="height: 25px">
                    <div class="layui-col-xs8">
                        <div class="brief_note_title">
                            你的第一本笔记
                        </div>
                        <div class="row">
                            <div class="brief_note_time">昨天</div>
                        </div>
                    </div>
                    <!-- 分享、删除按钮 -->
                    <div class="brief_share_delete_btn_group layui-btn-group layui-col-xs4">
                        <button class="layui-btn layui-btn-sm layui-btn-warm">
                            <i class="layui-icon">&#xe641;</i>
                        </button>
                        <button class="layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <hr class="layui-bg-green" style="margin-top: 17px">
                <div class="row">
                    <div class="brief_note_content"><p>
                            1234567891234567891234912345678912349123456789123491234567891234912345678912349123456789123491234567891234912345678912349123456789123491234567891234912345678912349123456789123456789123456789123456789</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="layui-body" style="margin: 15px 7px 7px 20px;">
        <!-- 内容主体区域 -->
        <div>内容主体区域</div>
    </div>

</div>
<script src="/layui/layui.js"></script>
<script>
  //JavaScript代码区域
  layui.use('element', function () {
    var element = layui.element;

  });
</script>
</body>
</html>