<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">

    <style>
        /*body {*/
        /*margin: 10px;*/
        /*}*/

        footer {
            height: 50px;
            margin-top: -50px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><img src="/images/logo.png" class="layui-nav-img"></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">新建笔记</a></li>
            <li class="layui-nav-item"><a href="">笔记</a></li>
            <li class="layui-nav-item"><a href="">笔记本</a></li>
            <li class="layui-nav-item"><a href="">标签</a></li>
            <li class="layui-nav-item"><a href="">朋友圈</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">账户</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">修改密码</a></dd>
                    <dd><a href="javascript:;">退出登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <!-- 笔记正文部分 -->
    <div style="padding: 15px">
        <div class="layui-col-md3">
            <ul class="flow-default" style="height: 20px;" id="note_list"></ul>


        </div>
        <div class="layui-col-md9">
            <div class="layui-row grid-demo grid-demo-bg1">
                <div class="layui-col-md12">第一个
                </div>
            </div>
            <div class="layui-row grid-demo grid-demo-bg1">
                <div class="layui-col-md12">第一个
                </div>
            </div>
            <div class="layui-row grid-demo grid-demo-bg1">
                <div class="layui-col-md12">第一个
                </div>
            </div>
        </div>

    </div>
</div>

</div>

<!--<footer style="height: 50px;margin-bottom: -50px;">-->
<!--<hr class="layui-bg-green">-->
<!--<div>-->
<!--<p style="text-align: center;">copyright@ charles</p>-->
<!--</div>-->
<!--</footer>-->


<script src="/layui/layui.js"></script>
<script>
  //JavaScript代码区域
  layui.use('element', function () {
    var element = layui.element;

  });

  layui.use('flow', function () {
    var flow = layui.flow;

    flow.load({
      elem: '#note_list' //流加载容器
      // , scrollElem: '#note_list' //滚动条所在元素，一般不用填，此处只是演示需要。
      , isAuto: false
      // , isLazyimg: true
      , done: function (page, next) { //加载下一页
        //模拟插入
        setTimeout(function () {
          var lis = [];
          for (var i = 0; i < 6; i++) {
            lis.push('<li><img lay-src="/images/logo.png" style="width: 130px;height: 130px"></li>')
          }
          next(lis.join(''), page < 6); //假设总页数为 6
        }, 500);
      }
    });
  });
</script>
</body>
</html>