<!-- 笔记本 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Marvel Note</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/stylesheets/note.css">
    <style>
        body {
            margin: 7px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><img src="/images/logo.png" class="layui-nav-img"></div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">新建笔记</a></li>
            <li class="layui-nav-item"><a href="">笔记</a></li>
            <li class="layui-nav-item"><a href="">笔记本</a></li>
            <li class="layui-nav-item"><a href="">标签</a></li>
            <li class="layui-nav-item"><a href="">朋友圈</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">CharlesFeng</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">修改密码</a></dd>
                    <dd><a href="javascript:;">退出登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>


    <div class="layui-side layui-bg-black" style="width: 99%;margin: 15px 7px 7px;top: 53px;">
        <div class="layui-side-scroll" style="width: 100%;">
            <div style="padding: 15px;">
                <!-- 笔记本 -->
                <div class="layui-col-xs3">
                    <div style="padding: 30px">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook1.png" style="max-width: 100% ">
                        </label>
                        <h4 style="text-align: center">笔记本1</h4>
                        <p style="font-size: 12px">描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div style="padding: 30px">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook2.png" style="max-width: 100% ">
                        </label>
                        <h4 style="text-align: center">笔记本1</h4>
                        <p style="font-size: 12px">描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div style="padding: 30px">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook3.png" style="max-width: 100% ">
                        </label>
                        <h4 style="text-align: center">笔记本1</h4>
                        <p style="font-size: 12px">描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div style="padding: 30px">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook4.png" style="max-width: 100% ">
                        </label>
                        <h4 style="text-align: center">笔记本1</h4>
                        <p style="font-size: 12px">描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div style="padding: 30px">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook5.png"style="max-width: 100% ">
                        </label>
                        <h4 style="text-align: center">笔记本1</h4>
                        <p style="font-size: 12px">描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div style="padding: 30px">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook6.png" style="max-width: 100% ">
                        </label>
                        <h4 style="text-align: center">笔记本1</h4>
                        <p style="font-size: 12px">描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div style="padding: 30px">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook3.png" style="max-width: 100% ">
                        </label>
                        <h4 style="text-align: center">笔记本1</h4>
                        <p style="font-size: 12px">描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div style="padding: 30px">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook3.png" style="max-width: 100% ">
                        </label>
                        <h4 style="text-align: center">笔记本1</h4>
                        <p style="font-size: 12px">描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div style="padding: 30px">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook3.png" style="max-width: 100% ">
                        </label>
                        <h4 style="text-align: center">笔记本1</h4>
                        <p style="font-size: 12px">描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div style="padding: 30px">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook3.png" style="max-width: 100% ">
                        </label>
                        <h4 style="text-align: center">笔记本1</h4>
                        <p style="font-size: 12px">描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div style="padding: 30px">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook3.png" style="max-width: 100% ">
                        </label>
                        <h4 style="text-align: center">笔记本1</h4>
                        <p style="font-size: 12px">描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div style="padding: 30px">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook3.png" style="max-width: 100% ">
                        </label>
                        <h4 style="text-align: center">笔记本1</h4>
                        <p style="font-size: 12px">描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div style="padding: 30px">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook3.png" style="max-width: 100% ">
                        </label>
                        <h4 style="text-align: center">笔记本1</h4>
                        <p style="font-size: 12px">描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- include libraries(jQuery, bootstrap, fontawesome) -->
<link href="/stylesheets/bootstrap.css" rel="stylesheet">
<link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
<script src="/javascripts/jquery-3.2.1.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>

<script src="/layui/layui.js"></script>
<script>
  layui.use('element', function () {
    var element = layui.element;
  });


</script>
</body>
</html>