<!-- 笔记本 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Marvel Note</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/stylesheets/notebooks.css">
    <link rel="stylesheet" href="/stylesheets/note.css">
    <style>
        body {
            margin: 7px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <% include ./header.ejs %>

    <div class="layui-side layui-bg-black" style="width: 99%;margin: 15px 7px 7px;top: 53px;">
        <div class="layui-side-scroll" style="width: 100%;padding: 15px;padding-bottom: 25px">

            <!-- 添加按钮 -->
            <div class="layui-col-xs-offset10 layui-col-xs2">
                <p class="layui-col-xs-offset2 layui-col-xs6"
                   style="font-size:16px;text-align: right;margin-top: 6px;margin-right: 5px">添加笔记本</p>
                <button class="add_nb layui-col-xs2 layui-btn layui-btn-radius layui-btn-sm layui-btn">
                    <i class="layui-icon">&#xe61f;</i>
                </button>
            </div>

            <!-- 笔记本 -->
            <div class="layui-col-xs12">
                <% for (var i = 0; i < nb_data.length; i++) { %>
                <% var now_nb = nb_data[i]; %>
                <div class="layui-col-xs3">
                    <% if (i < 4) { %>
                    <div class="nb1">
                        <% } else { %>
                        <div class="nb2">
                            <% } %>
                            <label class="layui-col-xs12" style="text-align: center">
                                <img alt="Background" src="/images/nb_covers/notebook<%= now_nb.nb_icon_id %>.png"
                                     style="max-width: 100% ">
                            </label>
                            <p class="nb_id" style="display: none"><%= now_nb.nb_id %></p>
                            <h4 class="layui-col-xs12" style="text-align: center"><%= now_nb.nb_name %></h4>
                            <p class="layui-col-xs12 nb_description">
                                描述：<%= now_nb.description %></p>
                            <button class="delete_nb layui-col-xs-offset5 layui-col-xs2 layui-btn layui-btn-sm layui-btn-danger">
                                <i class="layui-icon">&#xe640;</i>
                            </button>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <!-- include libraries(jQuery, bootstrap, fontawesome) -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>

    <script src="/layui/layui.js"></script>
    <script>
      layui.use('element', function () {
        var element = layui.element;
      });

      $('.add_nb').click(function (e) {

        layui.define(['layer'], function (exports) {
          var layer = layui.layer;

          var html_content =
            '<div class="layui-bg-black" style="width: 570px;height: 700px;margin: 10px 15px;">\n' +
            '    <!-- 笔记本名字 -->\n' +
            '    <div class="layui-col-xs12" style="margin-left: 10px;margin-top: 10px;">\n' +
            '        <label class="layui-col-xs3" style="font-size: 18px;color: #BDC0BA">您的笔记本名称</label>\n' +
            '        <div class=" layui-col-xs7 note_title_outer" style="margin-top: -4px;">\n' +
            '            <input id="new_nb_name" type="text" maxlength="10" class=" new_nb_item_word" ' +
            'placeholder="默认笔记本（最长10个字）" style="font-size: 18px">\n' +
            '        </div>\n' +
            '    </div>\n' +
            '    <!-- 笔记本描述 -->\n' +
            '    <div class="layui-col-xs12" style="margin-left: 10px;">\n' +
            '        <label class="layui-col-xs3" style="font-size: 18px;color: #BDC0BA">您的笔记本描述</label>\n' +
            '        <div class=" layui-col-xs7 note_title_outer" style="margin-top: -4px;">\n' +
            '            <input id="new_nb_content" type="text" maxlength="37" class=" new_nb_item_word" ' +
            'placeholder="您的一本默认笔记本（最长37个字）" style="font-size: 18px">\n' +
            '        </div>\n' +
            '    </div>\n' +
            '    <hr class="layui-bg-gray" style="margin-left: 10px;margin-right: 10px;">\n' +
            '    <!-- 选择笔记本封面图片 -->\n' +
            '    <div class="layui-col-xs12" style="margin: -10px 10px 10px;width: 550px;">\n' +
            '        <label class="layui-col-xs12" style="font-size: 18px;color: #BDC0BA">您的笔记本封面</label>\n' +
            '        <div class="select_cover layui-col-xs3 nb_cover_select">\n' +
            '            <img alt="Background" src="/images/nb_covers/notebook0.png" style="max-width: 100%;padding: 5px;margin: 5px;">\n' +
            '        </div>\n' +
            '        <div class="select_cover layui-col-xs3 nb_cover_select">\n' +
            '            <img alt="Background" src="/images/nb_covers/notebook1.png" style="max-width: 100%;padding: 5px;margin: 5px;">\n' +
            '        </div>\n' +
            '        <div class="select_cover layui-col-xs3 nb_cover_select">\n' +
            '            <img alt="Background" src="/images/nb_covers/notebook2.png" style="max-width: 100%;padding: 5px;margin: 5px;">\n' +
            '        </div>\n' +
            '        <div class="select_cover layui-col-xs3 nb_cover_select">\n' +
            '            <img alt="Background" src="/images/nb_covers/notebook3.png" style="max-width: 100%;padding: 5px;margin: 5px;">\n' +
            '        </div>\n' +
            '        <div class="select_cover layui-col-xs3 nb_cover_select">\n' +
            '            <img alt="Background" src="/images/nb_covers/notebook4.png" style="max-width: 100%;padding: 5px;margin: 5px;">\n' +
            '        </div>\n' +
            '        <div class="select_cover layui-col-xs3 nb_cover_select">\n' +
            '            <img alt="Background" src="/images/nb_covers/notebook5.png" style="max-width: 100%;padding: 5px;margin: 5px;">\n' +
            '        </div>\n' +
            '        <div class="select_cover layui-col-xs3 nb_cover_select">\n' +
            '            <img alt="Background" src="/images/nb_covers/notebook6.png" style="max-width: 100%;padding: 5px;margin: 5px;">\n' +
            '        </div>\n' +
            '        <div class="select_cover layui-col-xs3 nb_cover_select">\n' +
            '            <img alt="Background" src="/images/nb_covers/notebook7.png" style="max-width: 100%;padding: 5px;margin: 5px;">\n' +
            '        </div>\n' +
            '        <div class="select_cover layui-col-xs3 nb_cover_select">\n' +
            '            <img alt="Background" src="/images/nb_covers/notebook8.png" style="max-width: 100%;padding: 5px;margin: 5px;">\n' +
            '        </div>\n' +
            '        <div class="select_cover layui-col-xs3 nb_cover_select">\n' +
            '            <img alt="Background" src="/images/nb_covers/notebook9.png" style="max-width: 100%;padding: 5px;margin: 5px;">\n' +
            '        </div>\n' +
            '        <div class="select_cover layui-col-xs3 nb_cover_select">\n' +
            '            <img alt="Background" src="/images/nb_covers/notebook10.png" style="max-width: 100%;padding: 5px;margin: 5px;">\n' +
            '        </div>\n' +
            '        <div class="select_cover layui-col-xs3 nb_cover_select">\n' +
            '            <img alt="Background" src="/images/nb_covers/notebook11.png" style="max-width: 100%;padding: 5px;margin: 5px;">\n' +
            '        </div>\n' +
            '        <div class="select_cover layui-col-xs3 nb_cover_select">\n' +
            '            <img alt="Background" src="/images/nb_covers/notebook12.png" style="max-width: 100%;padding: 5px;margin: 5px;">\n' +
            '        </div>\n' +
            '        <div class="select_cover layui-col-xs3 nb_cover_select">\n' +
            '            <img alt="Background" src="/images/nb_covers/notebook13.png" style="max-width: 100%;padding: 5px;margin: 5px;">\n' +
            '        </div>\n' +
            '        <div class="select_cover layui-col-xs3 nb_cover_select">\n' +
            '            <img alt="Background" src="/images/nb_covers/notebook14.png" style="max-width: 100%;padding: 5px;margin: 5px;">\n' +
            '        </div>\n' +
            '    </div>\n' +
            '</div>';

          // 调用模态框输入笔记本的姓名，并选择样式，再保存
          layer.open({
            type: 1,
            title: ['添加笔记本', 'font-size:24px;color:#393D48'],
            content: html_content,
            skin: 'layui-layer-blu',
            area: ['600px', '360px'],
            move: false,
            shade: [0.75, '#000'],
            anim: 1,
            resize: false,
            btn: ['确认添加'],

            success: function () {
              // 点选封面之后要有改变
              $('.select_cover').click(function () {
                $(".select_cover").each(function () {
                  $(this).css("border", "3px solid rgba(0, 0, 0, 0)");
                  $(this).removeClass("cover_selected");
                });
                $(this).css("border", "3px solid #BDC0BA");
                $(this).addClass("cover_selected");
              });
            },
            yes: function (index, layero) {
              var nb_name_input = $('#new_nb_name').val();
              var nb_name = nb_name_input === '' ? '默认笔记本' : nb_name_input;

              var nb_description_input = $('#new_nb_content').val();
              var nb_description = nb_description_input === '' ? '您的一本默认笔记本' : nb_description_input;

              var cover_selected_string = $('.cover_selected').html();
              var cover_selected_start_index = cover_selected_string.indexOf("notebook") + 8;
              var cover_selected_end_index = cover_selected_string.indexOf(".png");
              var cover_selected_icon_id = cover_selected_string.substring(cover_selected_start_index, cover_selected_end_index);

              var cur_user_string = $('#cur_user').html();
              var cur_user_end_index = cur_user_string.indexOf("<span");
              var cur_user_id = cur_user_string.substring(0, cur_user_end_index);

              // 获取具体选择的封面和用户名称
              var data = {
                nb_name: nb_name,
                nb_description: nb_description,
                nb_icon_id: cover_selected_icon_id,
                user_id: cur_user_id
              };

              $.ajax({
                type: "post",
                async: true,
                url: "/notebooks/add_nb",
                data: data,

                success: function (result) {
                  alert(result);
                  window.location.href = "/notebooks";
                },
                error: function (result) {
                  alert("错误" + result);
                }
              });

            },
            cancel: function () {

            },
            closeBtn: 2
          });
        });
      });

      $('.delete_nb').click(function (e) {
        var data = {
          nb_id: $(this).parent().find(".nb_id").html()
        };

        var this_note = $(this).parent().parent();

        $.ajax({
          type: "post",
          async: true,
          url: "/notebooks/delete_nb",
          data: data,

          success: function (result) {
            alert(result);

            // 如果被删除的是第一行元素，需要修改之后一个元素css(nb2 -> nb1)
            var first_4 = [];
            var first_4_index = 0;

            var is_this_nb_in_first_4 = false;
            var delete_nb_id = this_note.find('.nb_id').html();
            $('.nb1').each(function () {
              var temp_nb_id = $(this).find('.nb_id').html();
              first_4[first_4_index] = temp_nb_id;
              first_4_index++;

              if (temp_nb_id === delete_nb_id) {
                is_this_nb_in_first_4 = true;
              }
            });
            // alert(first_4);
            // alert(is_this_nb_in_first_4);

            if (is_this_nb_in_first_4) {
              var nb_no_5 = $('.nb2').first();
              nb_no_5.removeClass("nb2");
              nb_no_5.addClass("nb1");
            }

            // 动态修改当前样式
            this_note.empty();

          },
          error: function (result) {
            alert("错误" + result);
          }
        });
      });


    </script>
</body>
</html>