<!-- 笔记 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Marvel Note</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/stylesheets/note.css">
    <style>
        body {
            margin: 7px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <% include ./header.ejs %>

    <!-- 笔记的左边导航部分 -->
    <div class="layui-side layui-bg-black" style="margin-left: 7px;margin-top: 15px; margin-bottom: 7px; top: 53px;">
        <div class="layui-side-scroll">
            <% for (var i = 0; i < note_data.length; i++) { %>
            <% if (i != 0) { %>
            <div style="height: 5px;"></div>
            <% } %>
            <% var now_note = note_data[i]; %>
            <div class="brief_note">
                <div style="height: 25px">
                    <p class="note_id" style="display: none"><%= now_note.note_id %></p>
                    <div class="layui-col-xs8">
                        <div class="brief_note_title">
                            <%= now_note.note_name %>
                        </div>
                        <div class="brief_note_time"><%= now_note.update_time %></div>
                    </div>
                    <!-- 分享、删除按钮 -->
                    <div class="brief_share_delete_btn_group layui-btn-group layui-col-xs4">
                        <% if (now_note.is_public == 0) { %>
                        <button class="share_note layui-btn layui-btn-sm layui-btn-warm" style="color: red;">
                            <i class="layui-icon">&#xe641;</i>
                            <p class="brief_share_delete_btn_group_tip">去分享</p>
                        </button>
                        <% } else { %>
                        <button class="share_note layui-btn layui-btn-sm">
                            <i class="layui-icon">&#xe641;</i>
                            <p class="brief_share_delete_btn_group_tip">已分享</p>
                        </button>
                        <% } %>
                        <button class="delete_note layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                            <p class="brief_share_delete_btn_group_tip">删除</p>
                        </button>
                    </div>
                </div>
                <hr class="layui-bg-green brief_separator">
                <div class="brief_note_content">
                    <p><%= now_note.content %></p>
                </div>
            </div>
            <% } %>
        </div>
    </div>

    <!-- 笔记内容主体部分 -->
    <div class="layui-body" style="margin: 15px 7px 7px 20px; background: #393D49; left:295px; top: 53px">
        <div style="padding-top: 10px">
            <!--  笔记名字 -->
            <div class="layui-col-xs4">
                <label class="layui-col-xs1 note_title_icon">
                    <i class="layui-icon">&#xe617;</i>
                </label>
                <div class="layui-col-xs8 note_title_outer">
                    <input type="text" class=" note_title" placeholder="您的笔记">
                </div>
            </div>

            <!-- 所属笔记本 -->
            <div class="layui-col-xs4">
                <label class="layui-col-xs1 note_title_icon">
                    <i class="layui-icon">&#xe622;</i>
                </label>
                <div class='layui-col-xs8 note_title_outer'>
                    <p class="note_title">您的笔记本</p>
                </div>
            </div>

            <!-- 所属标签 -->
            <div class="layui-col-xs4">
                <label class="layui-col-xs1 note_title_icon">
                    <i class="layui-icon">&#xe64c;</i>
                </label>
                <div class="layui-col-xs8 note_title_outer">
                    <input type="text" class=" note_title" placeholder="默认无标签">
                </div>
            </div>
            <div class="note_div">
                <div class="summernote mynote" style="z-index: 1000; color: #BDC0BA">第一次的笔记内容</div>
            </div>
        </div>
    </div>

</div>

<!-- include libraries(jQuery, bootstrap, fontawesome) -->
<link href="/stylesheets/bootstrap.css" rel="stylesheet">
<link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
<script src="/javascripts/jquery-3.2.1.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<!-- include summernote css/js-->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
<script src="/javascripts/summernote-zh-CN.js"></script>


<script src="/layui/layui.js"></script>
<script src="/javascripts/note_interaction.js"></script>
<script>
  layui.use('element', function () {
    var element = layui.element;
  });

  $('.share_note').click(function (e) {

    var now_public = $(this).parent().parent().find(".brief_share_delete_btn_group_tip").html() === '去分享' ? 1 : 0;
    var data = {
      note_id: $(this).parent().parent().find(".note_id").html(),
      now_public: now_public
    };

    var holding_btn = $(this);
    var holding_btn_text = $(this).children("p.brief_share_delete_btn_group_tip");

    $.ajax({
      type: "post",
      async: true,
      url: "/notes/share_note",
      data: data,

      success: function (result) {
        // 动态修改当前样式
        if (now_public === 1) {
          holding_btn.removeClass('layui-btn-warm');
          holding_btn.css("color", "white");
          holding_btn_text.html("已分享");
        } else {
          holding_btn.addClass('layui-btn-warm');
          holding_btn.css("color", "red");
          holding_btn_text.html("去分享");
        }

      },
      error: function (result) {
        alert("错误" + result);
      }
    });
  });

  $('.delete_note').click(function (e) {
    var data = {
      note_id: $(this).parent().parent().find(".note_id").html()
    };

    var this_note = $(this).parent().parent().parent();

    $.ajax({
      type: "post",
      async: true,
      url: "/notes/delete_note",
      data: data,

      success: function (result) {
        alert(result);

        // 直接移除当前条目笔记的html
        this_note.empty();
        this_note.css("padding", "0px");
        this_note.css("border", "0px solid rgba(0, 0, 0, 0)");
        this_note.css("height", "0%");

        // TODO 得到第一个元素
        var first_note = this_note.parent().find(".brief_note").eq(0);
        alert(first_note);
        alert("比对结果：" + first_note === this_note);

        <!--if (first_note === this_note) {-->
          // 是第一条笔记，删除后续的间隔html
          <!--this_note.next().css("height", "0px");-->
        <!--} else {-->
          // 不是第一条笔记，删除前序的间隔html
          <!--this_note.prev().css("height", "0px");-->
        <!--}-->
      },
      error: function (result) {
        alert("错误" + result);
      }
    });
  });

</script>
</body>

<% include ./footer.ejs %>
</html>