<!-- 笔记本 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Marvel Note</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/stylesheets/notebooks.css">
    <style>
        body {
            margin: 7px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <% include ./header.ejs %>

    <div class="layui-side layui-bg-black" style="width: 99%;margin: 15px 7px 7px;top: 53px;">
        <div class="layui-side-scroll" style="width: 100%;padding: 15px;padding-bottom: 25px">

            <!-- 添加按钮 -->
            <div class="layui-col-xs-offset10 layui-col-xs2">
                <p class="layui-col-xs-offset2 layui-col-xs6"
                   style="font-size:16px;text-align: right;margin-top: 6px;margin-right: 5px">添加笔记本</p>
                <button class="add_nb layui-col-xs2 layui-btn layui-btn-radius layui-btn-sm layui-btn">
                    <i class="layui-icon">&#xe61f;</i>
                </button>
            </div>

            <!-- 笔记本 -->
            <div class="layui-col-xs12">
                <div class="layui-col-xs3">
                    <div class="nb1">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook0.png" style="max-width: 100% ">
                        </label>
                        <h4 class="layui-col-xs12" style="text-align: center">笔记本1</h4>
                        <p class="layui-col-xs12" style="font-size: 12px">
                            描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                        <button class="delete_nb layui-col-xs-offset5 layui-col-xs2 layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="nb1">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook1.png" style="max-width: 100% ">
                        </label>
                        <h4 class="layui-col-xs12" style="text-align: center">笔记本1</h4>
                        <p class="layui-col-xs12" style="font-size: 12px">
                            描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                        <button class="delete_nb layui-col-xs-offset5 layui-col-xs2 layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="nb1">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook2.png" style="max-width: 100% ">
                        </label>
                        <h4 class="layui-col-xs12" style="text-align: center">笔记本1</h4>
                        <p class="layui-col-xs12" style="font-size: 12px">
                            描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                        <button class="delete_nb layui-col-xs-offset5 layui-col-xs2 layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="nb1">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook3.png" style="max-width: 100% ">
                        </label>
                        <h4 class="layui-col-xs12" style="text-align: center">笔记本1</h4>
                        <p class="layui-col-xs12" style="font-size: 12px">
                            描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                        <button class="delete_nb layui-col-xs-offset5 layui-col-xs2 layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="nb2">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook4.png" style="max-width: 100% ">
                        </label>
                        <h4 class="layui-col-xs12" style="text-align: center">笔记本1</h4>
                        <p class="layui-col-xs12" style="font-size: 12px">
                            描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                        <button class="delete_nb layui-col-xs-offset5 layui-col-xs2 layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="nb2">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook5.png" style="max-width: 100% ">
                        </label>
                        <h4 class="layui-col-xs12" style="text-align: center">笔记本1</h4>
                        <p class="layui-col-xs12" style="font-size: 12px">
                            描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                        <button class="delete_nb layui-col-xs-offset5 layui-col-xs2 layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="nb2">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook6.png" style="max-width: 100% ">
                        </label>
                        <h4 class="layui-col-xs12" style="text-align: center">笔记本1</h4>
                        <p class="layui-col-xs12" style="font-size: 12px">
                            描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                        <button class="delete_nb layui-col-xs-offset5 layui-col-xs2 layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="nb2">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook7.png" style="max-width: 100% ">
                        </label>
                        <h4 class="layui-col-xs12" style="text-align: center">笔记本1</h4>
                        <p class="layui-col-xs12" style="font-size: 12px">
                            描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                        <button class="delete_nb layui-col-xs-offset5 layui-col-xs2 layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="nb2">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook8.png" style="max-width: 100% ">
                        </label>
                        <h4 class="layui-col-xs12" style="text-align: center">笔记本1</h4>
                        <p class="layui-col-xs12" style="font-size: 12px">
                            描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                        <button class="delete_nb layui-col-xs-offset5 layui-col-xs2 layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="nb2">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook9.png" style="max-width: 100% ">
                        </label>
                        <h4 class="layui-col-xs12" style="text-align: center">笔记本1</h4>
                        <p class="layui-col-xs12" style="font-size: 12px">
                            描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                        <button class="delete_nb layui-col-xs-offset5 layui-col-xs2 layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="nb2">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook10.png" style="max-width: 100% ">
                        </label>
                        <h4 class="layui-col-xs12" style="text-align: center">笔记本1</h4>
                        <p class="layui-col-xs12" style="font-size: 12px">
                            描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                        <button class="delete_nb layui-col-xs-offset5 layui-col-xs2 layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="nb2">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook11.png" style="max-width: 100% ">
                        </label>
                        <h4 class="layui-col-xs12" style="text-align: center">笔记本1</h4>
                        <p class="layui-col-xs12" style="font-size: 12px">
                            描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                        <button class="delete_nb layui-col-xs-offset5 layui-col-xs2 layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="nb2">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook12.png" style="max-width: 100% ">
                        </label>
                        <h4 class="layui-col-xs12" style="text-align: center">笔记本1</h4>
                        <p class="layui-col-xs12" style="font-size: 12px">
                            描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                        <button class="delete_nb layui-col-xs-offset5 layui-col-xs2 layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="nb2">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook13.png" style="max-width: 100% ">
                        </label>
                        <h4 class="layui-col-xs12" style="text-align: center">笔记本1</h4>
                        <p class="layui-col-xs12" style="font-size: 12px">
                            描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                        <button class="delete_nb layui-col-xs-offset5 layui-col-xs2 layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="nb2">
                        <label class="layui-col-xs12" style="text-align: center">
                            <img alt="Background" src="/images/notebook14.png" style="max-width: 100% ">
                        </label>
                        <h4 class="layui-col-xs12" style="text-align: center">笔记本1</h4>
                        <p class="layui-col-xs12" style="font-size: 12px">
                            描述：这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本这个笔记本是宝宝的第一个笔记本</p>
                        <button class="delete_nb layui-col-xs-offset5 layui-col-xs2 layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- include libraries(jQuery, bootstrap, fontawesome) -->
<link href="/stylesheets/bootstrap.css" rel="stylesheet">
<link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
<script src="/javascripts/jquery-3.2.1.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>

<script src="/layui/layui.js"></script>
<script>
  layui.use('element', function () {
    var element = layui.element;
  });

  $('.add_nb').click(function (e) {

    // TODO 调用模态框输入笔记本的姓名，并选择样式，再保存
    var fakeData = {
      nb_name: "笔记本",
      nb_icon_id: 5,
      user_id: 'charles'
    };

    $.ajax({
      type: "post",
      async: true,
      url: "/notebooks/add_nb",
      data: fakeData,

      success: function (result) {
        alert(result);
      },
      error: function (result) {
        alert("错误" + result);
      }
    });
  });

  $('.delete_nb').click(function (e) {

    // TODO 获取到具体是哪一本笔记本？
    var fakeData = {
      nb_id: 23
    };

    $.ajax({
      type: "post",
      async: true,
      url: "/notebooks/delete_nb",
      data: fakeData,

      success: function (result) {
        alert(result);
      },
      error: function (result) {
        alert("错误" + result);
      }
    });
  });


</script>
</body>
</html>