<!-- 笔记 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Marvel Note</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/stylesheets/note.css">
    <style>
        body {
            margin: 7px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <% include ./header.ejs %>

    <!-- 笔记的左边导航部分 -->
    <div class="layui-side layui-bg-black" style="margin-left: 7px;margin-top: 15px; margin-bottom: 7px; top: 53px;">
        <div class="layui-side-scroll">
            <div class="brief_note">
                <div style="height: 25px">
                    <div class="layui-col-xs8">
                        <div class="brief_note_title">
                            你的第一本笔记
                        </div>
                        <div class="brief_note_time">昨天</div>
                    </div>
                    <!-- 分享、删除按钮 -->
                    <div class="brief_share_delete_btn_group layui-btn-group layui-col-xs4">
                        <button class="share_note layui-btn layui-btn-sm layui-btn-warm">
                            <i class="layui-icon">&#xe641;</i>
                        </button>
                        <button class="delete_note layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <hr class="layui-bg-green" style="margin-top: 17px">
                <div class="brief_note_content"><p>
                        1234567891234567891234912345678912349123456789123491234567891234912345678912349123456789123491234567891234912345678912349123456789123491234567891234912345678912349123456789123456789123456789123456789</p>
                </div>
            </div>

            <div style="height: 5px;"></div>
            <div class="brief_note">
                <div style="height: 25px">
                    <div class="layui-col-xs8">
                        <div class="brief_note_title">
                            你的第一本笔记
                        </div>
                        <div class="brief_note_time">昨天</div>
                    </div>
                    <!-- 分享、删除按钮 -->
                    <div class="brief_share_delete_btn_group layui-btn-group layui-col-xs4">
                        <button class="share_note layui-btn layui-btn-sm layui-btn-warm">
                            <i class="layui-icon">&#xe641;</i>
                        </button>
                        <button class="delete_note layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <hr class="layui-bg-green" style="margin-top: 17px">
                <div class="brief_note_content"><p>
                        1234567891234567891234912345678912349123456789123491234567891234912345678912349123456789123491234567891234912345678912349123456789123491234567891234912345678912349123456789123456789123456789123456789</p>
                </div>
            </div>

            <div style="height: 5px;"></div>
            <div class="brief_note">
                <div style="height: 25px">
                    <div class="layui-col-xs8">
                        <div class="brief_note_title">
                            你的第一本笔记
                        </div>
                        <div class="brief_note_time">昨天</div>
                    </div>
                    <!-- 分享、删除按钮 -->
                    <div class="brief_share_delete_btn_group layui-btn-group layui-col-xs4">
                        <button class="share_note layui-btn layui-btn-sm layui-btn-warm">
                            <i class="layui-icon">&#xe641;</i>
                        </button>
                        <button class="delete_note layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <hr class="layui-bg-green" style="margin-top: 17px">
                <div class="brief_note_content"><p>
                        1234567891234567891234912345678912349123456789123491234567891234912345678912349123456789123491234567891234912345678912349123456789123491234567891234912345678912349123456789123456789123456789123456789</p>
                </div>
            </div>

            <div style="height: 5px;"></div>
            <div class="brief_note">
                <div style="height: 25px">
                    <div class="layui-col-xs8">
                        <div class="brief_note_title">
                            你的第一本笔记
                        </div>
                        <div class="brief_note_time">昨天</div>
                    </div>
                    <!-- 分享、删除按钮 -->
                    <div class="brief_share_delete_btn_group layui-btn-group layui-col-xs4">
                        <button class="share_note layui-btn layui-btn-sm layui-btn-warm">
                            <i class="layui-icon">&#xe641;</i>
                        </button>
                        <button class="delete_note layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <hr class="layui-bg-green" style="margin-top: 17px">
                <div class="brief_note_content"><p>
                        1234567891234567891234912345678912349123456789123491234567891234912345678912349123456789123491234567891234912345678912349123456789123491234567891234912345678912349123456789123456789123456789123456789</p>
                </div>
            </div>

            <div style="height: 5px;"></div>
            <div class="brief_note">
                <div style="height: 25px">
                    <div class="layui-col-xs8">
                        <div class="brief_note_title">
                            你的第一本笔记
                        </div>
                        <div class="brief_note_time">昨天</div>
                    </div>
                    <!-- 分享、删除按钮 -->
                    <div class="brief_share_delete_btn_group layui-btn-group layui-col-xs4">
                        <button class="share_note layui-btn layui-btn-sm layui-btn-warm">
                            <i class="layui-icon">&#xe641;</i>
                        </button>
                        <button class="delete_note layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <hr class="layui-bg-green" style="margin-top: 17px">
                <div class="brief_note_content"><p>
                        1234567891234567891234912345678912349123456789123491234567891234912345678912349123456789123491234567891234912345678912349123456789123491234567891234912345678912349123456789123456789123456789123456789</p>
                </div>
            </div>

            <div style="height: 5px;"></div>
            <div class="brief_note">
                <div style="height: 25px">
                    <div class="layui-col-xs8">
                        <div class="brief_note_title">
                            你的第一本笔记
                        </div>
                        <div class="brief_note_time">昨天</div>
                    </div>
                    <!-- 分享、删除按钮 -->
                    <div class="brief_share_delete_btn_group layui-btn-group layui-col-xs4">
                        <button class="share_note layui-btn layui-btn-sm layui-btn-warm">
                            <i class="layui-icon">&#xe641;</i>
                        </button>
                        <button class="delete_note layui-btn layui-btn-sm layui-btn-danger">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <hr class="layui-bg-green" style="margin-top: 17px">
                <div class="brief_note_content"><p>
                        1234567891234567891234912345678912349123456789123491234567891234912345678912349123456789123491234567891234912345678912349123456789123491234567891234912345678912349123456789123456789123456789123456789</p>
                </div>
            </div>
        </div>
    </div>

    <!-- 笔记内容主体部分 -->
    <div class="layui-body" style="margin: 15px 7px 7px 20px; background: #393D49; left:295px; top: 53px">
        <div style="padding-top: 10px">
            <!--  笔记名字 -->
            <div class="layui-col-xs4">
                <label class="layui-col-xs1 note_title_icon">
                    <i class="layui-icon">&#xe617;</i>
                </label>
                <div class="layui-col-xs8 note_title_outer">
                    <input type="text" class=" note_title" placeholder="您的笔记">
                </div>
            </div>

            <!-- 所属笔记本 -->
            <div class="layui-col-xs4">
                <label class="layui-col-xs1 note_title_icon">
                    <i class="layui-icon">&#xe622;</i>
                </label>
                <div class='layui-col-xs8 note_title_outer'>
                    <p class="note_title">您的笔记本</p>
                </div>
            </div>

            <!-- 所属标签 -->
            <div class="layui-col-xs4">
                <label class="layui-col-xs1 note_title_icon">
                    <i class="layui-icon">&#xe64c;</i>
                </label>
                <div class="layui-col-xs8 note_title_outer">
                    <input type="text" class=" note_title" placeholder="默认无标签">
                </div>
            </div>
            <div class="note_div">
                <div class="summernote mynote" style="z-index: 1000; color: #BDC0BA">第一次的笔记内容</div>
            </div>
        </div>
    </div>

</div>

<!-- include libraries(jQuery, bootstrap, fontawesome) -->
<link href="/stylesheets/bootstrap.css" rel="stylesheet">
<link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
<script src="/javascripts/jquery-3.2.1.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<!-- include summernote css/js-->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
<script src="/javascripts/summernote-zh-CN.js"></script>


<script src="/layui/layui.js"></script>
<script src="/javascripts/note_interaction.js"></script>
<script>
  layui.use('element', function () {
    var element = layui.element;
  });

  $('.share_note').click(function (e) {

    // TODO 获取到具体是哪一条笔记？
    var fakeData = {
      note_id: 2
    };

    $.ajax({
      type: "post",
      async: true,
      url: "/notes/share_note",
      data: fakeData,

      success: function (result) {
        alert(result);
      },
      error: function (result) {
        alert("错误" + result);
      }
    });
  });

  $('.delete_note').click(function (e) {

    // TODO 获取到具体是哪一条笔记？
    var fakeData = {
      note_id: 0
    };

    $.ajax({
      type: "post",
      async: true,
      url: "/notes/delete_note",
      data: fakeData,

      success: function (result) {
        alert(result);
      },
      error: function (result) {
        alert("错误" + result);
      }
    });
  });

</script>
</body>

<% include ./footer.ejs %>
</html>