<!-- 标签主界面 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Marvel Note</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/stylesheets/notebooks.css">
    <link rel="stylesheet" href="/stylesheets/note.css">
    <link rel="stylesheet" href="/stylesheets/table.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <style>
        body {
            margin: 7px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <% include ./header.ejs %>

    <div class="layui-side layui-bg-black" style="width: 99%;margin: 15px 7px 7px;top: 53px;">
        <div class="table_area ayui-side-scroll">
            <!-- 表头 -->
            <div class="layui-col-xs12">
                <p class="layui-col-xs6 table_title">标签</p>
                <p class="layui-col-xs6 table_title">操作</p>
            </div>

            <hr class="layui-bg-gray table_header_items_separator">

            <!-- 用户列表 -->
            <% for (var i = 0; i < tag_data.length; i++) { %>
            <% if (i != 0) { %>
            <hr class="layui-bg-gray table_item_separator">
            <% } %>
            <div class="layui-col-xs12 table_line">
                <div class="tag_id layui-col-xs6 table_item"><%= tag_data[i] %></div>

                <!-- 查看、删除按钮 -->
                <div class="layui-col-xs6">
                    <div class="layui-col-xs4">
                        <div class="table_item table_item_op_btn_tip" style="float: right">查看</div>
                    </div>
                    <div class="layui-btn-group layui-col-xs4 table_item_op_btn">
                        <div class="layui-col-xs12" style="text-align: center">
                            <button class="tag_check layui-btn layui-btn-sm">
                                <i class="layui-icon">&#xe857;</i>
                            </button>
                            <button class="tag_delete layui-btn layui-btn-sm layui-btn-danger">
                                <i class="layui-icon">&#xe640;</i>
                            </button>
                        </div>
                    </div>
                    <div class="layui-col-xs4">
                        <div class="table_item table_item_op_btn_tip" style="float: left">删除</div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>

<!-- include libraries(jQuery, bootstrap, fontawesome) -->
<link href="/stylesheets/bootstrap.css" rel="stylesheet">
<link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
<script src="/javascripts/jquery-3.2.1.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>

<script src="/layui/layui.js"></script>
<script src="/javascripts/table_interaction.js"></script>
<script src="/javascripts/header_interaction.js"></script>
<script>
  layui.use('element', function () {
    var element = layui.element;
  });


  /**
   * 标签查看
   */
  $('.tag_check').click(function () {
    var this_tag_id = $(this).parent().parent().parent().parent().find('.tag_id').html();
    window.location.href = "/notes?tag=" + this_tag_id;
  });

  /**
   * 标签删除
   */
  $('.tag_delete').click(function () {
    var this_tag = $(this).parent().parent().parent().parent();
    var data = {
      tag_id: this_tag.find('.tag_id').html()
    };

    $.ajax({
      type: "post",
      async: true,
      url: "/tags/delete",
      data: data,

      success: function (result) {
        alert(result);

        // 动态修改用户界面
        // 得到第一个元素，比较两 note_id
        var first_tag = $('.table_line').first();
        var is_first = first_tag.find('.tag_id').html() === this_tag.find('.tag_id').html();

        // 直接移除当前条目笔记的html
        this_tag.empty();
        this_tag.removeClass("table_line");
        if (is_first) {
          // 是第一个用户，删除后续的间隔html
          this_tag.next().css("display", "none");
        } else {
          // 不是第一个用户，删除前序的间隔html
          this_tag.prev().css("display", "none");
        }
      },
      error: function (result) {
        alert("错误" + result);
      }
    });
  });

</script>
</body>

<% include ./footer.ejs %>
</html>