.brief_note_item {
    height: 50px;
}

.brief_note {
    padding: 7px;
    border: 3px solid #BDC0BA;
    height: 20%;
}

.brief_note_time {
    margin-top: 15px;
    font-size: 10px;
    color: #BDC0BA;
}

.brief_note_content {
    margin-top: -10px;
    font-size: 13px;
    color: #BDC0BA;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word
}

.brief_note_title {
    font-size: 15px;
    color: #BDC0BA;
}

.brief_share_delete_btn_group {
    width: 102px;
    margin-top: 2px;
    margin-right: -11px;
    margin-left: -9px;
}

.btn_group_tip {
    margin-top: -5px;
    color: #BDC0BA;
}

.brief_separator {
    margin-top: 29px;
}

.note_item {
    padding-top: 7px;
}

.note_title_icon {
    font-size: 25px;
    color: white;
    margin-left: 10px;
    margin-top: -5px;
}

.note_title_outer {
    margin-left: 2px;
}

/* 笔记提示项的字 */
.note_item_word {
    font-size: 17px;
    color: #BDC0BA;
    border-color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    margin-top: 2px;
    width: 100%;
}

/* 输入框的默认颜色 */
::-webkit-input-placeholder { /* WebKit browsers */
    color: #787b75;
}

.note_div {
    opacity: 1;
    height: 555px;

    /*margin-top: 40px;*/
    margin-left: 10px;
    margin-right: 10px;
}

.note_save_discard_btn_group {
    text-align: right;
    padding-right: 10px;
    margin-top: -3px;
}

.note_separator {
    margin-top: 55px;
    margin-left: 10px;
    margin-right: 10px;
}

/* 整个笔记黑色区域内部布局 */
.note_area {
    padding: 10px;
    width: 100%;
    height: 100%;
}