/* 第一行的元素之前太空空隙 */
.nb1 {
    padding: 45px;
    margin-top: -20px;
}

/* 除了第一行的元素 */
.nb2 {
    padding: 45px;
}

.nb_cover_select {
    border: 3px solid rgba(0, 0, 0, 0);
}

.nb_description {
    font-size: 12px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}