/* 第一行的元素之前太空空隙 */
.nb1 {
    padding: 45px;
    margin-top: -20px;
}

/* 除了第一行的元素 */
.nb2 {
    padding: 45px;
}

.nb_cover_select {
    border: 3px solid rgba(0, 0, 0, 0);
}

.nb_description {
    font-size: 12px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

/* 新建笔记本的提示字 */
.new_nb_item_word {
    font-size: 17px;
    color: #BDC0BA;
    border-color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    margin-top: 2px;
    width: 100%;
}